[submodule "src/tmr_ros1"]
	path = src/tmr_ros1
	url = https://github.com/NCS-Greenhouse/tmr_ros1.git
[submodule "src/yolov5"]
	path = src/yolov5
	url = https://github.com/NCS-Greenhouse/yolov5.git
[submodule "src/hrl-kdl"]
	path = src/hrl-kdl
	url = https://github.com/NCS-Greenhouse/hrl-kdl.git
[submodule "src/turtlebot_msgs"]
	path = src/turtlebot_msgs
	url = https://github.com/turtlebot/turtlebot_msgs.git
[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/NCS-Greenhouse/rplidar_ros.git
[submodule "src/turtlebot_apps"]
	path = src/turtlebot_apps
	url = https://github.com/NCS-Greenhouse/turtlebot_apps.git
