[submodule "src/tmr_ros1"]
	path = src/tmr_ros1
	url = https://github.com/NCS-Greenhouse/tmr_ros1.git
[submodule "src/yolov5"]
	path = src/yolov5
	url = https://github.com/NCS-Greenhouse/yolov5.git
[submodule "src/hrl-kdl"]
	path = src/hrl-kdl
	url = https://github.com/NCS-Greenhouse/hrl-kdl.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/NCS-Greenhouse/realsense-ros.git
