<?xml version="1.0"?>
<launch>
  


  <!-- ************** Original integral ***************  -->
  <arg name="joy_dev" default="Logitech Gamepad F710" />
    <!-- <node pkg="joy" type="joy_node" name="joy_node">
      <param name="dev_name" value="$(arg joy_dev)" />
      <param name="deadzone" value="0.05" />
      <param name="autorepeat_rate" value="0" />
    </node> -->

    <!-- <node name="joy" pkg="teapicking" type="joy.py" output="screen">
    </node>
    <include file= "/home/mic-710aix/catkin_ws/src/realsense-ros/realsense2_camera/launch/rs_d435i.launch"/> 
    <node name="EKF" pkg="teapicking" type="EKF_pose.py" output="screen">
    <param name="mode" value="4" />
    </node>
    <node name="slip" pkg="teapicking" type="slipEvaluate.py" output="screen">
    </node>
    <node name="http" pkg="teapicking" type="_http.py" output="screen">
    </node> -->



    <!-- <include file= "/home/mic-710aix/catkin_ws/src/rplidar_ros/launch/rplidar.launch"/> -->

  <!-- Map server -->
    <!-- <arg name="map_file" default="/home/mic-710aix/catkin_ws/src/rplidar_ros/maps/greenhouse_karto99_much-fixed.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" /> -->

  <!-- TF -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="map_world_link_broadcaster" args="0 0 0 0 0 0 map world 100">
    </node>
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.67 0 0 0 0 0 base_link laser 100">
    </node>
    <node name="odometry_publisher" pkg="teapicking" type="ros_odometry_publisher_example.py">
    </node> -->

  <!-- ********************* Move_base(1.0) + AMCL ********************* -->
    <!-- <include file= "/home/mic-710aix/catkin_ws/src/turtlebot_apps/turtlebot_navigation/launch/amcl_cyli.launch"/>  -->


  <!-- ********************* Download ********************* -->
    <!-- <node name="download" pkg="teapicking" type="getV4.py" output="screen" respawn="true">
    </node> -->


  <!--********************* Upload ********************* -->
    <!-- <node name="upload" pkg="teapicking" type="console_xy_revise0323.py" output="screen">
    </node> -->

  
  <!--********************* check and upload UVG power ********************* -->
    <!-- <node name="node_checker" pkg="teapicking" type="node_checkerV4.py" output="screen" respawn="true">
    </node> -->
  




  <!--include file= "/home/mic-710aix/catkin_ws/src/rplidar_ros/launch/hectormapping.launch"/-->
  <!-- ********************* Rosbag auto record  ********************* -->
  <!--node pkg="rosbag" type="record" name="bag_record" args="/amcl_pose /cmd_vel /feedback/RPM /move_base/DWAPlannerROS/global_plan /move_base/DWAPlannerROS/local_plan /move_base/NavfnROS/plan /odom /camera/gyro/sample /tf /vth /slam_out_pose /ekf/pose_4 /parameter/slip /scan -o  /home/mic-710aix/Desktop/bagfiles/nav"/-->


</launch>
